/* homepage */

.homePageTitle{
    text-align: center;
    margin: auto;
    max-width: 1200px;   
}
.homePageIntro{
    text-align: center;
    margin: auto;
    max-width: 1350px;   
}

/* section{
    flex-direction: row;
    gap:50px;
    margin: auto;
    max-width: 580px;
}
section>div{
    flex: 1 1 50%;
} */