/* homepage */

.homePageTitle{
    text-align: center;
    margin: auto;
    max-width: 450px; 
}
.homePageIntro{
    text-align: center;
    margin: auto;
    max-width: 450px;  
}

/* section {
    display:flex;
    flex-direction: column;
    gap: 10px;
    max-width: 290px;
    margin:auto;
} */

   